@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
    margin: 0;
    padding: 0;
}

/* html,
body
{
    overflow: hidden;
} */

:root
{
    background-color: #0a192f;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


.section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    font-size: 7vmin;
    padding-left: 5%;
    padding-right: 5%;
}

section:nth-child(even)
{
    justify-content: flex-end;
}

section p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.numberedheading::after {
    content: "";
    display: block;
    position: relative;
    top: 0px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #233554;
}

.projectimage {
    filter: grayscale(100%) contrast(1) brightness(90%);
}